:root {
  /* ### Primary */
--Cyan: hsl(179, 62%, 43%);
--Bright-Yellow: hsl(71, 73%, 54%);
  /* ### Neutral */
--Light-Gray: hsl(204, 43%, 93%);
--Grayish-Blue: hsl(218, 22%, 67%);
}
/* =================== Start Global Rules ===================   */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::selection {
  background-color: var(--Cyan);
  color: #fff;
}
body {
  background-color: var(--Light-Gray);
  min-height: 100vh;
  font-size: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  font-family: 'Karla', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
/* =================== End Global Rules =================== */
/* =================== Start The Design =================== */
main {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "head head" "subs why";
  overflow: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  box-shadow: 0px 2px 23px 1px var(--Grayish-Blue);
}
main:hover .details::before {
  left: 0;
}
main:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
main > div {
  padding: 40px;
  position: relative;
  overflow: hidden;
}
.details {
  grid-area: head;
  background-color: #fff;
  z-index: 2;
}
.details::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: var(--Cyan);
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.details:hover::after {
  right: 0;
}
.details h1 {
  color: var(--Cyan);
}
.details h3 {
  font-size: 23px;
  color: var(--Bright-Yellow);
  margin-bottom: 15px;
}
.details p {
  color: var(--Grayish-Blue);
  max-width: 600px;
  font-size: 20px;
  line-height: 1.5;
}
.details::after,
.subs::after,
.why::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.details::after {
  right: -100%;
  top: 0;
  background-color: #f5f9f9;
}
.subs {
  grid-area: subs;
  background-color: var(--Cyan);
  color: #fff;
  z-index: 2;
}
.subs::after {
  right: -100%;
  top: 0;
  background-color: hsl(179deg 47.97% 48.76%);
}
.subs:hover::after {
  right: 0;
}
.subs h1 {
  font-size: 22px;
}
.subs h2 {
  font-size: 35px;
}
.subs h2 span {
  font-size: 20px;
  padding-bottom: 10px;
  color: hwb(179 32% 21%);
}
.subs > span {
  font-size: 18px;
  display: block;
  margin-top: 10pxw;
}
.subs button {
  display: block;
  margin: 50px auto 20px;
  width: 225px;
  padding: 15px;
  background: var(--Bright-Yellow);
  border: 0;
  color: #fff;
  font-size: 20px;
  box-shadow: 0px 4px 10px -2px #777;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.subs button:hover {
  background-color: hsl(71, 69%, 54%);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.why {
  grid-area: why;
  background-color: hsl(179, 53%, 49%);
  color: #fff;
  z-index: 2;

}
.why::after {
  left: -100%;
  top: 0;
  background-color: hsla(179, 49%, 47%, 0.817)
}
.why:hover::after {
  left: 0;
}
.why h2 {
  margin: 0 0 20px;
}
.why ul {
  list-style: none;
}
.why li {
  margin-bottom: 5px;
  color: var(--Light-Gray);
}
footer {
  
}
footer p {
  font-size: 20px;
}
footer p a {
  color: var(--Cyan);
  font-weight: bold;
}
@media (max-width: 767px) {
  body {
    padding: 70px 30px;
  }
  main {
    display: flex !important;
    flex-direction: column;
  }
  .details h1 {
    font-size: 25px;

  }
  .details h3 {
    font-size: 20px;
  }
  .details p {
    font-size: 16px;
  }
  .subs button {
    width: 100%;
    margin: 30px auto 0;
  }
}
/* =================== End The Design =================== */
